[color]
  ui = true

[core]
  editor = vim
  excludesfile = ~/.gitignore_global
  autocrlf=input

[alias]
  adog="log --all --decorate --oneline --graph"

[mergetool]
  keepBackup = false

[include]
  path = ~/.gitconfig-local

