[color]
	ui = true

[core]
	editor = vim
	excludesfile = /Users/jiminj/.gitignore

[include]
    path = .gitconfig-local
    path = .gitconfig-private

[merge]
	tool = kdiff3

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
