[color]
  ui = true

[core]
  editor = nvim
  excludesfile = ~/.gitignore_global
  autocrlf=input
  pager = delta

[alias]
  adog="log --all --decorate --oneline --graph"

[diff]
  tool = nvimdiff
[merge]
  tool = nvimdiff

[difftool]
  prompt = false

[mergetool]
  keepBackup = false
  prompt = true

[include]
  path = ~/.gitconfig-local

[merge]
  conflictstyle = diff3

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true    # use n and N to move between diff sections
  line-numbers = true

[includeIf "gitdir:~/.config/nvim"]
  path = .gitconfig.submodules

    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true


